.container-addContact {
    margin: 2% auto;
    padding: 0px 0;
    text-align: center;
  }
  
  .container-addContact h1 {
    font-size: 30px;
    font-weight: 200;
  }
  
.form-input-addContact {
    border: 1px solid rgba(252, 252, 252, 0.4);
    background-color: rgb(114 114 114 / 20%);
    width: 244px;
    border-radius: 3px;
    font-family: "Source Sans Pro", sans-serif;
    padding: 9px 15px;
    margin: 0 auto 10px auto;
    display: block;
    text-align: center;
    font-size: 18px;
    color: rgb(0, 0, 0);
    font-weight: 300;
  }
  
.form-button-addContact {
    appearance: none;
    outline: 0;
    background-color: rgb(8, 8, 8);
    border: 15;
    padding: 8px 20px;
    color: #ffffff;
    border-radius: 3px;
    width: 250px;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
  }
  